html {
  font-family: Georgia, serif;
  color: #fff;
}

header {
  background-color: #495562;
}

.btn-ghost {
  border-color: #fff;
  color: #fff;
}

.btn-ghost:focus, .btn-ghost:hover {
  border-color: #fff;
  background-color: #fff;
  color: rgba(73, 85, 98, .9);
}
